@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
  ;
  --foreground: #D9D9D9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    --foreground: #D9D9D9;
  }
}

html {
  @apply flex items-center justify-center scroll-smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-karla w-full max-w-[1440px];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-modal {
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
  }
}